<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evoting System</title>
  </head>
  <body>
    {% include 'navbarvtr.html' %}
    <div class="container">
      <h1
        class="display-5 mt-5"
        style="font-weight: bold; color: rgb(80, 105, 94)"
      >
        DASHBOARD
      </h1>
      {% include 'dashboard.html' %}
    </div>
  </body>
</html>
